.verdict {
	@include grid(10);
	padding: .2em .3em;
	font-family: $font-display;
	font-size: $font-display-small;
	text-transform: uppercase;
	text-align: center;
}

.is-kut {
	background-color: $color-three;
	color: $color-one;
}

.is-nietkut {
	background-color: $color-four;
}
